<h1><%= @fruit.name %></h1>
<h2><%= @fruit.variety %></h2>
<h2><%= @fruit.color %></h2>

<div>
  <%= link_to 'Edit Fruit', edit_plantation_fruit_path(@plantation, @fruit) %>
  <%= link_to 'Delete Fruit', plantation_fruit_path(@plantation, @fruit), method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
