<div class="page-header">
  <h1><%= @plantation.name %></h1>
</div>

<div>
  <%= link_to "Edit Plantation", edit_plantation_path(@plantation), class: 'btn btn-success' %>
  <%= link_to "Delete Plantation", plantation_path(@plantation), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
</div>

<div class="row">
  <%= render 'fruits' %>
  <%= render 'vegetables' %>
</div>


