<h1><%= @plantation.name %></h1>
<div>
  <%= link_to "Edit Plantation", edit_plantation_path(@plantation) %>
  <%= link_to "Delete Plantation", plantation_path(@plantation), method: :delete, data: { confirm: 'Are you sure?' } %>
</div>

<h2>Fruits:</h2>
<div>
  <%= link_to "Add Fruit", new_plantation_fruit_path(@plantation) %>
</div>

<ul>
  <% @fruits.each do |fruit| %>
    <li><%= link_to fruit.name, plantation_fruit_path(@plantation, fruit) %></li>
  <% end %>
</ul>


