<h1><%= @vegetable.name %></h1>
<h2><%= @vegetable.variety %></h2>
<h2><%= @vegetable.color %></h2>
<h2><%= @vegetable.harvested_at %></h2>

<div>
  <%= link_to 'Edit Vegetable', edit_plantation_vegetable_path(@plantation, @vegetable) %>
  <%= link_to 'Delete Vegetable', plantation_vegetable_path(@plantation, @vegetable), method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
